body {
height: 100vh;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
background: #ffe6f0;
font-family: Arial,sans-serif;
}

.container{
    text-align: center;
}
h1{
    color: #ff4d88;
}
.buttons{
    margin-top: 20px;
    position: relative;
    height: 150px;
}
button{
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    transform: scale(1);
}
button:hover {
    transform: scale(1);
}
#yesBtn{
    background-color: #ff4d88;
    color: white;
    left: 40px;
}
#noBtn{
    background-color: #555;
    color: white;
    top: 50%;
    left: 50%;
}
#message{
    margin-top: 25px;
    font-size: 22px;
    color: #ff0066;
}
.hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
.heart{
    position: absolute;
    color: #ff4d88;
    font-size: 24px;
    animation: floatUp 4s linear forwards;
}
@keyframes floatUp {
    0%{
        transform: translateY(100vh);
        opacity: 1;
    }
    100%{
        transform: translateY(-10vh);
        opacity: 0;
    }
}
.cute-img{
    width: 200px;
    margin-top: 15px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}