body {
height: 100vh;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
background: #ffe6f0;
font-family: Arial,sans-serif;
}

.container{
    text-align: center;
}
h1{
    color: #ff4d88;
}
.buttons{
    margin-top: 20px;
    position: relative;
    height: 150px;
}
button{
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
}
#yesBtn{
    background-color: #ff4d88;
    color: white;
    left: 40px;
}
#noBtn{
    background-color: #555;
    color: white;
    right: 40px;
}
#message{
    margin-top: 25px;
    font-size: 22px;
    color: #ff0066;
}